@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media screen and (max-width:800px) {
#contenedor { 
	width: auto;
	display: flex;
	flex-direction: column;
	
}
body{
	margin: 0;
}
section {
	margin: 0;
	padding: 0 0 0 10px;
	/* box-sizing: border-box; */
	width: auto;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
	
}
nav{
	width: 100%;
	background-color: goldenrod;
	display: flex;
}
p {
	width: 100%;
	display: flex;
}
aside {
	width: 100%;
	padding: 0 0 0 10px;
	display: flex;
	flex-wrap: wrap;
}
ul { 
	display: flex;
	width: 100%;
	margin: 0;
	flex-direction: column;		
}
a {
	font-size: 15px;
	color: white;
}

li {
	margin: 10px 0 10px 0;
}
}
