/* font-family: 'Dai Banna SIL', serif; */

.caja{
    /* background-color: yellow; */
    width: 500px;
    height: 300px;
    padding: 25px;
    background: rgb(123,116,249);
    background: linear-gradient(90deg, rgba(123,116,249,1) 0%, rgba(162,221,255,1) 55%, rgba(140,236,255,1) 100%);
    box-shadow: -11px -7px 32px 0px rgba(0,118,255,1);
-webkit-box-shadow: -11px -7px 32px 0px rgba(0,118,255,1);
-moz-box-shadow: -11px -7px 32px 0px rgba(0,118,255,1);
    /* eje x - eje y - blur(desenfoque) - color */
    border-radius: 32px 0px 23px 0px;
-webkit-border-radius: 32px 0px 23px 0px;
-moz-border-radius: 32px 0px 23px 0px;
}

div{
    background-color: burlywood;
    column-count: 2;
    column-gap: 30px;
    column-rule: 3px solid black;
    margin-top: 30px;
}

h2{
    font-family: 'Dai Banna SIL', serif;
    font-size: 25px;
    text-align: center;
}
.user{
    font-size: 100px;
}